@model IEnumerable<BackEndAtv1.Models.Participante>

@{
    ViewData["Title"] = "Listagem de participantes";
}

<h1>Participantes</h1>

<p>
    <a asp-action="Create">Adicionar um participante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ParticipanteID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ParticipanteID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ParticipanteID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
