@model BackEndAtv1.Models.Evento

@{
    ViewData["Title"] = "Evento - Detalhes";
}

<h1>Informações adicionais</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas) horas
        </dd>
        <dt class="col-sm-2">
            Participantes
        </dt>
        <dd class="col-sm-10">
            @if (Model.Participantes != null && Model.Participantes.Any())
            {
                <ul class="list-unstyled">
                    @foreach (var participante in Model.Participantes)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => participante.Nome)
                            | <a asp-controller="Participante" asp-action="Certificado" asp-route-id="@participante.ParticipanteID">Gerar certificado</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Nenhum participante registrado.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventoID">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
