@model IEnumerable<BackEndAtv1.Models.Evento>

@{
    ViewData["Title"] = "Listagem de eventos";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Adicionar um evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participantes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EventoID">Visualizar</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventoID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventoID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
